*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  font-family: "Open Sans";
  line-height: 1.6; }

a {
  outline: 0; }

.container {
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 15rem)) 1fr;
  grid-template-rows: 7.8rem 80vh repeat(7, min-content); }

@media only screen and (max-width: 810px) {
  .container {
    grid-template-rows: 0vh 80vh repeat(7, min-content); } }

.nav-cont {
  width: 100%;
  grid-column: 1 / -1; }

.navigation {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #383E4C;
  display: grid;
  align-items: center; }
  .navigation__container {
    list-style: none;
    height: 7.8rem;
    display: grid;
    grid-template-columns: 1fr repeat(5, minmax(min-content, 15rem)) 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
  .navigation__item {
    font-size: 2rem;
    font-weight: 600;
    border: solid 1px #646D7C;
    border-radius: 1px;
    text-align: center;
    transition: all .2s; }
    .navigation__item-1 {
      grid-column: 2; }
    .navigation__item-2 {
      grid-column: 3; }
    .navigation__item-3 {
      grid-column: 4; }
    .navigation__item-4 {
      grid-column: 5; }
    .navigation__item-5 {
      grid-column: 6; }
  .navigation__link {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    display: block; }
  .navigation__item:hover {
    background-color: #49505F; }
  .navigation__link:focus, .navigation__link:active {
    background-color: #49505F; }

.hamburger-icon {
  color: black;
  width: 10rem; }

.hamburger-menu,
.nav-toggle {
  display: none; }

@media only screen and (max-width: 810px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    left: 93%;
    top: 2%;
    z-index: 2000;
    font-size: 2rem; }
  .hamburger-icon {
    color: black; }
  .navigation {
    display: none;
    background-color: rgba(0, 0, 0, 0); }
  .nav-toggle:checked ~ .navigation {
    display: grid; }
  .navigation__container {
    display: grid;
    grid-template-columns: 1fr;
    transform: scale(0.7); }
  .navigation__item {
    grid-column: 1 / span 1;
    background-color: #383E4C; } }

.header {
  background-image: url(/src/img/bg-1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1; }
  .header__text {
    text-align: center;
    text-shadow: 0 0.4rem rgba(0, 0, 0, 0.8);
    transform: translateY(-1rem); }
  .header__sub {
    font-size: 2.5rem;
    margin-top: -1rem;
    text-shadow: 0 0.2rem rgba(0, 0, 0, 0.8); }

.heading-primary {
  font-size: 7rem;
  font-weight: 400;
  text-transform: uppercase; }

.cta {
  grid-column: 2 / 10;
  margin: 7rem 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  column-gap: 3rem;
  row-gap: 2rem; }
  .cta__card {
    background-color: #F2F2F2;
    display: grid;
    justify-items: center; }
  .cta__img {
    width: 100%; }
  .cta__content {
    padding: 0 2rem;
    text-align: left; }
  .cta__heading {
    font-size: 2rem;
    margin: 2rem 0 1rem; }
    .cta__heading-1 {
      color: #449D44; }
    .cta__heading-2 {
      color: #31B0D5; }
    .cta__heading-3 {
      color: #85261D; }
  .cta__text {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333; }
  .cta__button {
    margin-top: 3.5rem;
    padding: 1rem 3rem;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: .5rem;
    margin-bottom: 4rem; }
    .cta__button-1 {
      background-color: #449D44; }
    .cta__button-2 {
      background-color: #31B0D5; }
    .cta__button-3 {
      background-color: #85261D; }

.contact {
  background-color: skyblue;
  grid-column: 1 / -1; }

.big-column {
  background-color: pink;
  grid-column: 2 / 10; }

.details {
  background-color: purple;
  grid-column: 2 / 10; }

.footer {
  background-color: yellow;
  grid-column: 1 / -1; }

.services {
  background-color: orangered;
  grid-column: 1 / -1; }

.story {
  background-color: teal;
  margin-top: 10rem;
  grid-column: 2 / 10; }
