*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: #3B3B3B; }

body {
  font-weight: 300;
  font-family: "Open Sans";
  line-height: 1.6; }

a {
  outline: 0;
  text-decoration: none;
  color: #666666; }

.container {
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 15rem)) 1fr;
  grid-template-rows: 7.8rem 80vh repeat(7, min-content); }

.navigation {
  grid-column: 1 / -1;
  background-color: #383E4C;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-weight: 400; }
  .navigation__navbar {
    max-width: 1720px;
    grid-column: 2;
    display: grid;
    margin: 1rem 2rem; }
  .navigation__container {
    list-style: none;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 2rem; }
  .navigation__item {
    list-style: none;
    border: #646D7C solid 1px;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2rem;
    transition: all .3s; }
    .navigation__item:hover, .navigation__item:focus, .navigation__item:active {
      background-color: #646D7C; }
  .navigation__link {
    text-decoration: none; }
    .navigation__link:visited, .navigation__link:link {
      color: white; }

.nav-toggle {
  display: none; }

.hamburger-menu {
  margin-right: 2rem;
  grid-column: 3;
  justify-self: end;
  font-size: 3rem;
  display: none;
  z-index: 2000;
  color: #262628; }

@media only screen and (max-width: 767px) {
  .hamburger-menu {
    display: inline-block;
    grid-row: 1;
    position: fixed;
    right: .4%;
    top: .4%; }
  .navigation {
    background-color: rgba(0, 0, 0, 0);
    grid-row: 1; }
    .navigation__navbar {
      grid-column: 1 / -1;
      transition: opacity .3s; }
    .navigation__container {
      margin-top: 3.5rem;
      grid-column: 1 / -1;
      justify-items: stretch;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform ease-in .4s; }
    .navigation__item {
      grid-column: 1 / -1;
      background-color: #383E4C; }
  .nav-toggle:checked ~ .navigation__navbar > .navigation__container {
    grid-row: 2;
    transform: scaleY(1); } }

.header {
  background-image: url(/src/img/bg-1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1; }
  .header__text {
    text-align: center;
    text-shadow: 0 0.4rem rgba(0, 0, 0, 0.8);
    transform: translateY(-1rem); }
  .header__sub {
    font-size: 2.5rem;
    margin-top: -1rem;
    text-shadow: 0 0.2rem rgba(0, 0, 0, 0.8); }

.heading-primary {
  font-size: 7rem;
  font-weight: 400;
  text-transform: uppercase; }

@media only screen and (max-width: 500px) {
  .heading-primary {
    font-size: 5rem; }
  .header__sub {
    font-size: 1.5rem; } }

@media only screen and (max-width: 767px) {
  .header {
    grid-row: 1 / 3; } }

.cta {
  grid-column: 2 / 10;
  margin-top: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  column-gap: 3rem;
  row-gap: 2rem;
  justify-content: center; }
  .cta__card {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column; }
  .cta__img-container {
    overflow: hidden;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; }
  .cta__img {
    width: 100%; }
  .cta__content {
    padding: 0 2rem; }
  .cta__heading {
    font-size: 2rem;
    margin: 2rem 0 1rem; }
    .cta__heading-1 {
      color: #449D44; }
    .cta__heading-2 {
      color: #31B0D5; }
    .cta__heading-3 {
      color: #85261D; }
  .cta__text {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #666666; }
  .cta__button {
    margin-top: 3.5rem;
    padding: 1rem 3rem;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: .5rem;
    align-self: center;
    margin-bottom: 4rem; }
    .cta__button-1 {
      background-color: #449D44; }
      .cta__button-1:hover, .cta__button-1:active {
        background-color: #52c252; }
    .cta__button-2 {
      background-color: #31B0D5; }
      .cta__button-2:hover, .cta__button-2:active {
        background-color: #36bfe9; }
    .cta__button-3 {
      background-color: #85261D; }
      .cta__button-3:hover, .cta__button-3:active {
        background-color: #b63428; }

@media only screen and (max-width: 1024px) {
  .cta {
    grid-template-columns: repeat(1, minmax(min-content, 40rem)); }
    .cta__card-1 {
      margin-left: 0; }
    .cta__card-3 {
      margin-right: 0; } }

.contact {
  background-image: url(/src/img/bg-3.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 7rem;
  color: #262628;
  grid-column: 1 / -1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(1, minmax(auto, 60rem)) 1fr;
  row-gap: 2rem;
  justify-items: stretch; }
  .contact__heading {
    margin-top: 7rem;
    grid-column: 2;
    font-size: 3.6rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.8); }
  .contact__description {
    font-size: 1.6rem;
    grid-column: 2;
    background-color: rgba(250, 250, 250, 0.5);
    font-weight: 400;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem; }
  .contact__form {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 1rem 2rem;
    color: #262628;
    padding: 2rem;
    margin-bottom: 7rem; }
  .contact__input {
    grid-column: 1;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    padding: .5rem 1rem;
    border-radius: 3px; }
  .contact__message {
    grid-column: 2;
    grid-row: 1 / 6;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    padding: .5rem 1rem;
    border-radius: 3px; }
  .contact__btn {
    grid-column: 2;
    background-color: #383E4C;
    color: #fff;
    border: solid 1px #646D7C;
    border-radius: 3px;
    padding: 1rem 2rem;
    justify-self: start;
    transition: all .2s; }
    .contact__btn:hover, .contact__btn:active {
      background-color: #fff;
      color: #383E4C; }

input::placeholder,
textarea::placeholder {
  font-family: 'Open Sans';
  color: #262628;
  font-weight: 400; }

@media only screen and (max-width: 500px) {
  .contact__form {
    display: flex;
    flex-direction: column; } }

.big-col {
  background-color: #F2F2F2;
  margin-top: 7rem;
  grid-column: 2 / 10; }
  .big-col__card {
    display: flex;
    flex-direction: column;
    justify-items: center; }
  .big-col__img {
    width: 100%; }
  .big-col__content {
    padding: 2rem 4rem;
    text-align: left;
    color: #3B3B3B; }
  .big-col__heading {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #666666; }
  .big-col__text {
    font-size: 1.4rem;
    font-weight: 400; }
  .big-col__button {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    background-color: #E4E4E4;
    border: none;
    border-radius: 5px;
    transition: all .2s; }
    .big-col__button:hover, .big-col__button:active {
      background-color: #F2F2F2; }

.details {
  margin-top: 7rem;
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 27rem));
  justify-content: center;
  column-gap: 3rem;
  row-gap: 3rem; }
  .details__card {
    font-size: 1.4rem;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column; }
  .details__img {
    width: 100%; }
  .details__content {
    padding: 1rem 2rem; }
  .details__heading {
    color: #666666;
    margin-bottom: 2rem; }
  .details__text {
    font-weight: 400; }
  .details__button {
    padding: 1.5rem 2rem;
    background-color: #E4E4E4;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 1rem; }
    .details__button-1 {
      margin-top: 2rem; }
    .details__button:hover, .details__button:active {
      background-color: #F2F2F2; }

.footer {
  background-color: #fff;
  padding: 3rem 5rem;
  grid-column: 1 / -1;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center; }
  .footer__content {
    margin-bottom: 2rem; }
  .footer__heading {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    font-weight: 300;
    font-style: italic; }
  .footer__text {
    font-size: 1.6rem; }
  .footer__copyright {
    font-size: 1.4rem; }

.services {
  background-image: url(/src/img/bg-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 5rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 65rem) 1fr;
  justify-items: center; }
  .services__content {
    color: #fff;
    grid-column: 2;
    text-align: center;
    padding: 10rem 0; }
  .services__heading {
    font-size: 3.6rem;
    text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem; }
  .services__text {
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1); }

.story {
  margin-top: 7rem;
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 55rem));
  column-gap: 3rem;
  justify-content: center; }
  .story__card {
    background-color: #F2F2F2; }
  .story__img {
    width: 100%; }
  .story__content {
    display: grid;
    justify-items: center; }
  .story__heading {
    color: #666666;
    font-size: 2rem;
    margin-top: 2rem; }
  .story__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: #666666;
    padding: 1rem 2rem; }
  .story__button {
    margin-left: 70%;
    margin-bottom: 2%;
    padding: 1rem 1.5rem;
    background-color: #E4E4E4;
    border: none;
    border-radius: 5px;
    transition: all .2s; }
    .story__button:hover, .story__button:active {
      background-color: #F2F2F2; }
