//VARIABLES

$color-primary: #383E4C;
$color-primary-dark: #262628;
$color-primary-light: #646D7C;
$color-primary-light-2: #49505F;
$color-secondary: #F2F2F2;
$color-white: #fff;
$color-text-primary: #333;

$font-primary: 'Open Sans';







*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-weight: 300;
    font-family: $font-primary;
    line-height: 1.6;
}

a {
    outline: 0;
}


//GRID
.container {
    display: grid;

    grid-template-columns: 1fr  repeat(8, minmax(min-content, 15rem)) 1fr;
    grid-template-rows: 7.8rem 80vh repeat(7, min-content);
}


@media only screen and (max-width: 810px) {
    .container {
        grid-template-rows: 0vh 80vh repeat(7, min-content);
    }

}
