.cta {
    grid-column: 2 / 10;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;



    &__card {
        background-color: $color-secondary;
        // margin: 0 2rem;
        display: flex;
        flex-direction: column;

    }

    &__img-container {
        overflow: hidden;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;

    }

    &__img {
        width: 100%;
    }

    &__content {
        padding: 0 2rem;
        


    }

    &__heading {
        font-size: 2rem;
        margin: 2rem 0 1rem;

        &-1 {
            color: #449D44;
        }

        &-2 {
            color: #31B0D5;
        }

        &-3 {
            color: #85261D;
        }
    }

    &__text {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-text-primary;
    }

    &__button {
        margin-top: 3.5rem;
        padding: 1rem 3rem;
        border: none;
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 400;
        border-radius: .5rem;
        align-self: center;
        margin-bottom: 4rem;

        &-1 {
            background-color: #449D44;
        }

        &-2 {
            background-color: #31B0D5;
        }

        &-3 {
            background-color: #85261D;
        }
    }

}

@media only screen and (max-width: 1024px) {
    .cta {
        grid-template-columns: repeat(1, minmax(min-content, 40rem));

        &__card {

            &-1 {
                margin-left: 0;
            }

            &-3 {
                margin-right: 0;
            }
        }
    }



}