.services {
    background-image: url(/src/img/bg-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 5rem;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 65rem) 1fr;
    justify-items: center;

    &__content {
        color: #fff;
        grid-column: 2;
        text-align: center;
        padding: 10rem 0;
    }

    &__heading {
        font-size: 3.6rem;
        text-shadow: .2rem .2rem 0 rgba(0, 0, 0, .2);
        margin-bottom: 3rem;
    }

    &__text {
        font-size: 1.8rem;
        font-weight: 400;
        text-shadow: .1rem .1rem 0 rgba(0, 0, 0, .1);
    }
}